<main *ngIf="!!catBreedsLoaded" class="main">

  <section class="header">
    <section class="header-filters">
      <img src="/assets/images/hiding-cat.png" alt="" class="header-image">
      <span *ngFor="let filter of filters">
        <input
          class="filter checkbox"
          [id]="filter.name"
          type="checkbox"
          [(ngModel)]="filter.isSelected"
          (change)="filterBreeds()"
        />
        <label class="filter-label" tabindex="0" [for]="filter.name">{{
          filter.name | titlecase
        }}</label>
      </span>
    </section>
    <input
      aria-labelledby="cats"
      type="text"
      placeholder="Search by Breed, ex. Abyssinian "
      class="header-search"
      [(ngModel)]="searchTerm"
    />
    <section class="autoscroll">
      <app-scroll [enableScrollToBottom]="false"></app-scroll>
    </section>

  </section>

  <!-- Add loading image -->
  <ng-container *ngIf="displayBreeds | searchFilter : searchTerm as results">
    <section class="cat-results">
      <div *ngFor="let breed of results" class="cat-card">
        <img
          class="cat-image"
          [src]="breed.imageUrl | safe : 'url'"
          alt=""
          onerror="this.src = '../../assets/images/Cat.png'"
          loading="lazy"
        />
        <div class="border"></div>
        <section class="name-and-link">
          <h3>{{ breed.name }}</h3>
          <a [routerLink]="['/details/' + breed.id]">Details</a>
          <section class="tags">
            <p
              *ngFor="let filter of breed.filters"
              class="filter-tag"
              [ngClass]="filter.class"
            >
              {{ filter.name }}
            </p>
          </section>
        </section>
      </div>
      <p *ngIf="results.length < 1">No Results</p>
    </section>
  </ng-container>
  <section *ngIf="!displayBreeds" class="error-group">
    <h2 class="error-message">
      How embarrassing. I promised cats, but no cats.
    </h2>
    <p>Not able to access the cat service at this time.</p>
  </section>
</main>
