<ul *ngIf="catDetails.name" class="breadcrumbs">
    <li><a class="link" href="#">Home</a></li>
    <li>{{catDetails.name}}</li>
</ul>
<main *ngIf="!!catDetailsLoaded" class="cat-details-main">
  <section class="img-container">
    <img class="cat-details-img" [src]="catDetails.imageUrl | safe: 'url'" [alt]="catDetails.name + ' Image'" onerror="this.src = '../../assets/images/Cat.png'" loading="lazy">
  </section>
    <section class="cat-details-info">
        <h2 class="cat-details-name">{{catDetails.name}}</h2>
        <p class="origin">
          <span class="key">Origin:</span> {{catDetails.origin}}
        </p>
        <p class="cat-details-temperament">
          <span class="key">Temperament:</span> {{catDetails.temperament}}
        </p>
        <p class="cat-details-description">{{catDetails.description}}</p>

        <a *ngIf="catDetails.vca_url || catDetails.wikipedia_url" [href]="catDetails.vca_url || catDetails.wikipedia_url" class="link" target="_blank">
          <p>Learn more!</p>
        </a>
        <!-- <a [href]="searchUrl" class="buy-link" target="_blank">
          <p>Want to care for one?</p>
        </a> -->
    </section>
</main>
<div class="border">
  <img src="/assets/images/playful-cat.png" alt="Playful cat" class="playful-cat" loading="lazy">
</div>
