// Global Styles
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  // colors
  --wave-jumper: #587783;
  --chromophobic-black: #282929;
  --kingly-cloud: #dfdfdf;
  --argent: #888;
  --elephant: #a8a9a9;
  --antique-pink: #c07b74;
}

:root {
  --bg: var(--kingly-cloud);
  --alt-bg: var(--chromophobic-black);

  --primary-font-color: var(--chromophobic-black);

  --form-outline: var(--wave-jumper);
  --alt-outline: var(--antique-pink);

  --box-shadow: var(--wave-jumper);
  --alt-box-shadow: var(--argent);

  --text-shadow: var(--elephant);
  --alt-text-shadow: var(--wave-jumper);

  --border: var(--chromophobic-black);
  --alt-border: var(--argent);

  --accent: var(--wave-jumper);
  --alt-accent: var(--antique-pink);

}

* {
  font-size: 1em;
  font-family: "Poppins", sans-serif;

  &:focus-visible {
    outline: 2px solid var(--form-outline);
  }
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg);
  color: var(--primary-font-color);
}

h1,
h2,
h3 {
  margin: unset;
  font-weight: 600;
}

h1,
h2 {
  margin: unset;
  font-weight: 600;
  background-color: var(--alt-border);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  color: var(--primary-font-color);
  text-shadow: 0 1px 3px var(--alt-text-shadow);
  font-size: 20px;
}

p {
  line-height: 1.6em;
}

img {
  margin: 0 16px;
  box-shadow: 0 4px 8px var(--box-shadow);
}

button,
input,
ul {
  margin: 16px 0;
  border: unset;
  padding: unset;
  border-radius: 2px;

  &:focus-visible {
    border: unset;
    outline: unset;
  }
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
}

input[type="checkbox"] {
  margin: 0 4px 0 24px;
  accent-color: var(--bg);
  width: 20px;
  height: 20px;
  outline: 2px solid var(--alt-outline);
  outline-offset: -3px;
}

.fa {
  font-size: 2em;
}


.link {
  text-decoration: underline;
}
